<div class="container">
    <h1 class="title">ツイートアプリ</h1>
        
    <article>
        <div class="contents">
            <ul>
                <li><%= link_to "新規ツイート投稿", new_post_path %></li>
                <li><%= link_to "ツイート一覧画面", posts_path %></li>
            </ul>
        </div>
    </article>
</div>