<h1>つぶやきメッセージ一覧（index.html.erb）</h1>
<table>
    <tr>
        <td>＜コンテンツ＞</td>
    </tr>
    <% @posts.each do |post| %>
        <tr>
            <td><%= post.content %></td>
            <td><%= link_to '内容を編集する', edit_post_path(post.id) %></td>
        </tr>
    <% end %>
</table>
<br>
<%= link_to '新規つぶやき作成画面へ戻る', new_post_path %>
