<h1>つぶやきメッセージ一覧（index.html.erb）</h1>
<table>
    <tr>
        <td>＜コンテンツ＞</td>
    </tr>
    <% @posts.each do |post| %>
        <tr>
            <td><%= post.content %></td>
            <td><%= link_to 'ツイート内容を編集する', edit_post_path(post.id), data: { confirm: '編集していいですか？'} %></td>
            <td><%= link_to 'ツイートを削除する', post_path(post.id), method: :delete , data: { confirm: '本当に削除していいですか？'} %></td> 
        </tr>
    <% end %>
</table>
<br>
<%= link_to '新規ツイート作成画面へ戻る', new_post_path %>
